<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Mi Empresa</h1>
    <form action="{{url}}login2" method="POST" class="login" >
        <p><label>Usuario:</label><input type='text' name="user"></p>
        <p><label>Contraseña:</label><input type="password" name='pass'></p>
 
        <input type="submit" value="Enviar">

    </form>


</body>
</html>